.fb {
  display: flex;
  justify-content: center;
}
.entire-card {
  border: ridge;
  margin-top: 10px;
  display: inline-block;
  border-width: 18px;
  background-color: lightblue;
  border-color: lightskyblue;
  transition: box-shadow 0.1s;
  border-radius: 12px;
}
.entire-card:hover {
  box-shadow: 4px 8px 0 rgba(0,0,0,0.3);
  margin-top: 3px;
  margin-right: 3px;
}
.moby-photo {
  width: 250px;
}
.second-div {
  background-color: lightblue;
  border-width: 10px;
}
.moby-name {
  text-align: center;
  font-size: 20px;
  font-family: fantasy;
  font-weight: bold;
}
.entire-card,
.entire-card-wendel,
.entire-card-maude,
.entire-card-mona p {
  font-weight: 500;
}
.fb {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
}
.maude-photo {
  width: 250px;
  height: 266px;
  object-fit: cover;
}
.entire-card-maude {
  border: ridge;
  margin-top: 10px;
  display: inline-block;
  border-width: 18px;
  background-color: lightpink;
  border-color: rgb(198, 102, 118);
  transition: box-shadow 0.1s;
  border-radius: 12px;
}
.entire-card-maude:hover {
  box-shadow: 4px 8px 0 rgba(0,0,0,0.3);
  margin-top: 3px;
  margin-right: 3px;
}
.maude-name {
  text-align: center;
  font-size: 20px;
  font-family: cursive;
  font-weight: bold;
}
.entire-card-wendel {
  border: ridge;
  margin-top: 10px;
  display: inline-block;
  border-width: 18px;
  background-color: greenyellow;
  border-color: lightgreen;
  transition: box-shadow 0.1s;
  border-radius: 12px;
}
.entire-card-wendel:hover {
  box-shadow: 4px 8px 0 rgba(0,0,0,0.3);
  margin-top: 3px;
  margin-right: 3px;
}
.wendel-name {
  text-align: center;
  font-size: 20px;
  font-family: fantasy;
  font-weight: bold;
 }




 .entire-card-mona {
  border: ridge;
  margin-top: 10px;
  display: inline-block;
  border-width: 18px;
  background-color: yellow;
  border-color: orange;
  transition: box-shadow 0.1s;
  border-radius: 12px;
}
.entire-card-mona:hover {
  box-shadow: 4px 8px 0 rgba(0,0,0,0.3);
  margin-top: 3px;
  margin-right: 3px;
}
.mona-name {
  text-align: center;
  font-size: 20px;
  font-family: fantasy;
  font-weight: bold;
 }
 .cattext {
   font-size: 16px;
   text-shadow: none;
   color: black;
 }
 .first-div {
   width: 250px;
   height: 266px;
  }