body {
  background-color: beige;
  font-family: 'Print Clearly', sans-serif;
  margin: 0;
}
p {
  font-size: 20px;
  font-family: 'Print Bold', sans-serif;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.header a {
  text-decoration: none;
  color: black;
}
.header p:hover {
  cursor: pointer;
  text-decoration: underline;
}
.welcome {
  position: relative;
  text-align: center;
  opacity: 0;
  animation-name: welcomefade;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}
@keyframes welcomefade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.h2-container {
  position: relative;
  display: inline-block;
  margin: 0;
}
.welcome-text {
  margin: 0;
}
.sleepycat {
  width: 50px;
}
.stringlight1,
.stringlight2 {
  width: 50px;
}
.stringlight1-container {
  position: absolute;
  left: 0px;
  bottom: -30px;
}
.stringlight2-container {
  position: absolute;
  right: 0px;
  bottom: -30px;
}
.image-of-me-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 300px;
}
.image-of-me {
  width: 300px;
  border-radius: 50px;
  margin-left: 20px;
  box-shadow: 0 0 5px 1px black;
}
.bio1-container {
  display: flex;
  align-items: center;
  max-width: 450px;
}
.bio1 {
  border: 1px solid black;
  padding: 20px;
  font-size: 30px;
  box-shadow: 0 0 5px 1px black;
}
.section1 {
  opacity: 0;
  display: flex;
  justify-content: space-around;
  animation-name: section1fade;
  animation-duration: 2s;
  animation-iteration-count: 1s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-delay: 0.5s;
}
@keyframes section1fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.section2pre {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  opacity: 0;
  padding: 10px;
  background-color: #AAF0D1;
  animation-name: section2fade;
  animation-duration: 2s;
  animation-iteration-count: 1s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-delay: 1s;
}
.section2 {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: top;
  width: 900px;
}
@keyframes section2fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.sec2head {
  font-size: 26px;
}
.webdev-container {
  display: flex;
  flex-direction: column;
  max-width: 200px;
  align-items: center;
}
.tr-container {
  display: flex;
  flex-direction: column;
  max-width: 200px;
  align-items: center;
}
.hobbies-container {
  display: flex;
  flex-direction: column;
  max-width: 200px;
  align-items: center;
}
.web-image,
.writing-image,
.hobbies-image {
  width: 100px;
  transition: width 0.5s;
}
.web-image:hover,
.writing-image:hover,
.hobbies-image:hover {
  width: 140px;
  cursor: pointer;
}
.title {
  padding-top: 6px;
}
.web-image-container,
.writing-image-container,
.hobbies-image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.web-image-container .tooltip,
.writing-image-container .tooltip,
.hobbies-image-container .tooltip {
  position: absolute;
  background-color: black;
  color: white;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 2px;
  font-size: 12px;
  top: -16px;
  opacity: 0;
  transition: opacity 0.15s;
  pointer-events: none;
  white-space: nowrap;
}
.web-image-container:hover .tooltip,
.writing-image-container:hover .tooltip,
.hobbies-image-container:hover .tooltip {
  opacity: 1;
}

.section3 {
  text-align: center;
  opacity: 0;
  animation-name: section3fade;
  animation-duration: 2s;
  animation-iteration-count: 1s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-delay: 1.5s;
  padding-top: 20px;
  padding-bottom: 20px;
}
@keyframes section3fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.footer {
  background-color: #ffc2d1;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media (max-width: 1170px) {
  .section1,
  .section2 {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 50px;
    justify-items: center;
  }
  .section1 {
    margin-top: 60px;
  }
  .image-of-me-container {
    margin-right: 240px;
  }
  .bio1-container {
    margin-left: 16px;
  }
  .bio1 {
    font-size: 40px;
  }
  .header {
    display: none;
  }
  .welcome {
    font-size: 40px;
  }
  .sleepycat,
  .stringlight1,
  .stringlight2 {
    width: 100px;
  }
  .stringlight1-container,
  .stringlight2-container {
    bottom: -44px;
  }
  .image-of-me {
    width: 500px;
  }
  .web-image,
  .writing-image,
  .hobbies-image {
  width: 300px;
  }
  .web-image:hover,
  .writing-image:hover,
  .hobbies-image:hover {
  width: 400px;
  }
  .web-image-container .tooltip,
  .writing-image-container .tooltip,
  .hobbies-image-container .tooltip {
    font-size: 40px;
  }
  .sec2head {
    font-size: 40px;
  }
  .section2pre p {
    font-size: 60px;
  }
  .section-2-description {
    width: 900px;
    text-align: center;
  }
  .title {
    font-size: 100px;
    text-align: center;
    width: 1000px;
  }
  .section3 p {
    font-size: 30px;
  }
}
